[Desktop Entry]
Type=Application
Name=Hypsi
Comment=a simple hyprpaper management tool
Exec=/usr/bin/hypsi -webview %f
Icon=/usr/share/hypr/wall0.png
Terminal=false
Type=Application
Categories=Graphics;Utility;
StartupNotify=true
NoDisplay=false
DesktopName=Hypsi
GenericName=Hyperpaper Management
Actions=OpenNewWindow;OpenExistingFile;
MimeType=image/heif;image/jpeg;image/png;image/tiff;image/x-webp;image/webp;

[Desktop Action OpenNewWindow]
Name=Open New Window
Exec=/usr/bin/hypsi -webview

[Desktop Action OpenExistingFile]
Name=Open Existing File
Exec=/usr/bin/hypsi %f
