

body {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}


.formats {
	display: flex;
	justify-content: space-evenly;
	font-size: 1.5rem;
	letter-spacing: 1px;
	line-height: 4rem;
}

div.gallery {
  border: 2px solid white;
  border-radius: 12px;
  line-height: 4rem;
  text-align:center; 
  color: white; 
  width: 640px; 
  height: 360px;
  background-size: 640px 360px;
}

div.gallery:hover {
  border: 2px solid #777;
  border-radius: 12px;
}

div.desc {
  text-align: center;
}

div.monitors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 1281px) {
  div.monitors {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}


div.rewind {
  text-align: center;
  height: 150px;
  width: auto;
  padding-top: 50px;
}
button {
  border: none;
  background-color: black;
  transform: scale(1.25);
  font-size: 2rem;
}
button:hover {
  background-color: grey;
  border-radius: 5px;
}


input[type="radio"],
input[type="checkbox"] {
  height: 3rem;
  accent-color: green;
  transform:scale(2);
}

