<!DOCTYPE html>
<html>
  <head>
    <title>Hypsi {{.Version}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div class="container">
      <div class="monitors">	
	{{ range .Monitors}}
	<div class="{{.Monitor}} gallery" ondrop="handleDrop(event)" ondragover="allowDrop(event)">
	  <div class="desc">
	   <svg viewBox="0 0 60 40" width="60" xmlns="http://www.w3.org/2000/svg">
	    <text x="20" y="30" font-size="18" fill="#fff" font-family="monospace">{{.Monitor}}</text>
	  </svg>
	  </div>
	  <form id="form_{{.Monitor}}" enctype="multipart/form-data" action="/upload" method="post" hidden>
	    <input id="imageFile" type="file" name="imageFile" />
	    <input type="text" name="monitor" value="{{.Monitor}}" />
	    <input id="send_{{.Monitor}}" type="submit" value="upload" />
	  </form>
	</div>
	<style id="style_{{.Monitor}}" >
	.{{.Monitor}} {
		background-image: url({{.Thumb64|safeURL}});
	};
	</style>
	{{end}}
      </div>
	{{ if .Ivalue }}
	<div class="rewind">
	
	  {{ if .Rewind|plusOne|inHistory }}

	    <button id="roll_back"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m7 2 10 10-10 10" fill="none" stroke="#fff" stroke-width="3" transform="matrix(-1 0 0 1 24 0)"/></svg></button>
	  {{ else }}
	    <button id="roll_back" disabled><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m7 2 10 10-10 10" fill="none" stroke="#fff" stroke-width="3" transform="matrix(-1 0 0 1 24 0)"/></button>
	  {{ end }}
	  
	  <span id="rewindtext">	  
	    <svg viewBox="0 0 60 30" width="60" xmlns="http://www.w3.org/2000/svg">

	    <text id="svgtext" x="20" y="30" font-size="32" fill="#fff" font-family="monospace">{{.Rewind}}</text>
	    
	    </svg>
	  </span>
	  
	  {{ if .Rewind|gtZero }}
 	  <button id="roll_forth" class="btnForward">
	    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m7 2 10 10-10 10" fill="none" stroke="#fff" stroke-width="3"/></svg>
	  </button>
	  {{ else }}
	  <button id="roll_forth" class="btnForward" disabled>
	    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m7 2 10 10-10 10" fill="none" stroke="#fff" stroke-width="3"/></svg>
	  </button>
	  {{ end }}
	
	</div>
	{{ else }}
	<hr>
	{{ end }}
    </div>
    <script type="text/javascript" src="/static/script.js"></script>
    <script type="text/javascript" src="/static/script2.js"></script>
    <script type="text/javascript">
    document.addEventListener('keydown', function(event) {
      let selector;
      switch (event.key) {
      case "h":
	selector = "#roll_back";
	break;
      case "ArrowLeft":
	selector = "#roll_back";
	break;
      case "l":
	selector = "#roll_forth";
	break;
      case "ArrowRight":
	selector = "#roll_forth";
	break;
      default:
	break;
      }
      if (selector) {
	document.querySelector(selector).click();
      }
    });
    </script>
  </body>
</html>
